.body{
    background-image: url("Assets/images/ballerina-4362282_1920.jpg");
}

.text {
    padding: 25px;
    margin: 25px;
}

.content-container{

}


.footer-content{
    padding: 10px 25px 10px 25px;

}