.body{
    background-image: url("Assets/images/ballerina-4362282_1920.jpg");
}

/* Logo */

.logo-container {
    display: flex;
    height: 200px;
    padding: 25px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 150px;

}

/* Text */

.text-container {
    padding: 25px;
    margin: 25px;
}

.text-container > div {
    border: 1px solid lightblue;
    border-radius: 5px;
    margin: 20px;
    padding: 30px;
    background-color: lightblue;
}

/* Form */

.form-container {
    padding: 50px;
    margin: 100px;
    border: 1px solid lightblue;
    border-radius: 5px;
    background-color: lightblue;
}

/* Footer */

.footer-content{
    padding: 10px 25px 10px 25px;

}