.body{
    background-image: url("Assets/images/ballerina-4362282_1920.jpg");
}

/* Logo */

.hero-container {
    display: flex;
    flex-direction: row;
    height: 500px;
    /* width: 1200px; */
    padding: 40px;
    margin: 70px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.hero-graphic {
    height: 700px;
}

.hero-text {
    width: 800px;
}


.logo {
    height: 150px;

}

/* Text */

.text-container {
    padding: 25px;
    margin: 25px;
}

.text-container > div {
    border: 1px solid lightblue;
    border-radius: 5px;
    margin: 20px;
    padding: 30px;
    background-color: lightblue;
}

/* Form */

.form-container {
    padding: 50px;
    margin: 100px;
    border: 1px solid lightblue;
    border-radius: 5px;
    background-color: lightblue;
}

/* Footer */

.footer-content{
    padding: 10px 25px 10px 25px;

}